@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --VeryDarkBlueMainBg: hsl(217, 54%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  place-content: center;
  font-family: "Outfit", sans-serif;
  background-color: var(--VeryDarkBlueMainBg);
  padding: 20px;
}
